argparse==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
inquirerpy==0.3.4 ; python_version >= "3.10" and python_version < "4.0"
pfzy==0.3.4 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.38 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "4.0"
