argparse==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==1.0.14 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.14.0 ; python_version >= "3.10" and python_version < "4.0"
pyinquirer==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
regex==2023.3.23 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "4.0"
